<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="<%=blog.description%>" />
    <meta name="keywords" content="<%= Array.isArray(blog.keywords) ? blog.keywords.join(',') : '' %>" />
    <link rel="stylesheet" href="/public/icofont/icofont.min.css" />
    <link rel="stylesheet" href="/public/css/font.css" />
    <link rel="stylesheet" href="/public/web/assets/css/blog.css" />
    <title><%=blog.title%></title>
  </head>

  <body>
    <div class="site-container">
      <!--Navigation Header-->
      <br/>
      <nav>
        <div class="logo">
          <h1>Blogs</h1>
        </div>
      </nav>
    </div>

    <div class="site-container">
      <main>
        <div class="blog-content">
          <div class="blog-details">
            <div class="profile">
              <% const profile=blog.author.profile ? blog.author.profile:"/public/images/default-profile.jfif"%>
              <img src="<%=profile%>" alt="user profile" />
              <span><%=blog.author.name%></span>
            </div>
            <div class="mini-info">
              <% const date = new Date(blog.createdAt).toLocaleDateString()%>
              <span>Published On <b><%=date%></b></span>
              <span>Category <b><%=blog.category.title%></b></span>
            </div>
          </div>
          <br/>
          <h1><%-blog.title%></h1>
          <br/>
          <!--readable content-->
          <div class="readable-content">
            <%-blog.content%>
          </div>
          <!--readable content-->
        </div>
        <aside>
          <h2>Browse Categories</h2>
          <div class="categories">
            <% for(var i=0; i<categories.length; i++) {%>
                <% const link = `/?category=${categories[i]._id}`; %>
                <a href="<%=link%>"><%=categories[i].title%> (<%=categories[i].blogs%>)</a>
            <% } %>
          </div>
        </aside>
      </main>
    </div>
  </body>
</html>
